# Node.js
node_modules/
npm-debug.log
yarn-error.log
package-lock.json
yarn.lock

# Build output
build/
dist/
*.log

# Django
*.pyc
*.pyo
__pycache__/
db.sqlite3
/media
/staticfiles
.env

# VS Code
.vscode/
.idea/
*.sublime-workspace

# MacOS
.DS_Store

# Python
*.py[cod]
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
*.egg-info/
.eggs/

# Jupyter Notebook
.ipynb_checkpoints

# Coverage reports
htmlcov/
.coverage
.coverage.*

# IDE files
*.swp
*.swo
*~ 
